.logo{
    padding: auto 0.3em;
    font-weight: 800;
    font-size: 2em;
}
.nav-mobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.3em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 90;
    height:100vh;
    width: 80vw;
    animation: animNav 10s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s 1 normal forwards;
}
@keyframes animNav {
    from{
        display: none
    }
    to{
        display: flex
    }
}

.avatar, .cart{
    width: 2em;
    height: 2em;
    margin: 1em;
}
.burger{
    font-size: 1.3em;
}
.nav-sec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 90vw;
}
.close{
    font-size: 2em;
}
.nav-large{
        display: none;
    }
nav ul li{ 
    display: flex;
    flex-wrap: wrap;
    padding: 0.6em;
    margin: auto 1em;
}
@media screen and (min-width: 600px) {
     nav ul li{ 
    padding: 0.3em;
    margin: auto 0.5em;
}
.burger{
        display: none;
    }
    .nav-mobile{
        display: none
    }
    .nav-large{
        display: block;
    }
   
    .nav-large ul li{
        display: inline-block;
    }
}
@media screen and (min-width: 1000px) {
    nav ul li{ 
    padding: 0.6em;
    margin: auto 1em;
}
}